{% load goods_tags %}
<div>
    Filter
    ==on_sale, discount, quantity==
    <form action="{% url 'goods:catalog2' slug_url %}"method="get">
        <input type="checkbox"id="onsale"name="on_sale"value="on"{% if request.GET.on_sale == 'on' %}checked{% endif %}>
        <label for="onsale">Твары по акции</label>

        <input type="radio"id="order"name="order_by"value="price"{% if request.GET.order_by == 'price' %}checked{% endif %}>
        <label for="order">От дешёвых к дорогим</label>

        <input type="radio"id="order1"name="order_by"value="-price"{% if request.GET.order_by == '-price' %}checked{% endif %}>
        <label for="order1">От дорогих к дешёвым</label>

        <button type="submit">Применить</button>
    </form>
</div>

{% if request.GET.order_by == 'price' %}
    {% for g in goods %}
        <div style="border:1px solid black;width:250px;">
            <p><a href="{% url "goods:product2" product2_slug=g.slug %}">{{g.name}}</a></p> <p>price-{{g.price}}</p> <p>discount-{{g.discount}}</p> <p>quantity-{{g.quantity}}</p>
        </div>
    {%endfor%}
{%else%}
    {% for g in goods %}
        <div style="border:1px solid black;width:250px;">
            <p><a href="{% url "goods:product2" product2_slug=g.slug %}">{{g.name}}</a></p> <p>price-{{g.price}}</p> <p>discount-{{g.discount}}</p> <p>quantity-{{g.quantity}}</p>
        </div>
    {%endfor%}
{% endif %}

<!--Paginator-->



  <div class="pagination">
    <span class="step-links">
        {% if goods.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ goods.previous_page_number }}">previous</a>
        {% endif %}
        {% for page in goods.paginator.page_range %}
            <a class="page-link" href="?{% change_params page=page %}">{{page}}</a>
        {% endfor %}

        query----{{query}}
        <span class="current">
            {%comment%}Page {{ goods.number }} of {{ goods.paginator.num_pages }}.{%endcomment%}
           {%comment%} {% for page in goods.paginator.page_range %}
                {% if request.GET.on_sale == 'on' %}
                    <a href="?on_sale=on&page={{page}}">{{page}}</a>
                {% elif request.GET.order_by == 'price' %}
                    <a href="?order_by=price&page={{page}}">{{page}}</a>
                {% elif request.GET.order_by == '-price' %}
                    <a href="?order_by=-price&page={{page}}">{{page}}</a>
                {%else%}
                    <a href="?page={{page}}">{{page}}</a>
                {% endif %}
            {% endfor %}{%endcomment%}
        </span>

        {% if goods.has_next %}
            <a href="?page={{ goods.next_page_number }}">next</a>
            <a href="?page={{ goods.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    

{{request.GET.dict}}
{{request.GET.page}}+++++{{ request.META.QUERY_STRING }}++++{{ request.META.REMOTE_ADDR }}
<p>{{ request.META.SERVER_NAME}}</p><p>{{request.META.QUERY_STRING}}</p>

